*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex; /* Enables Flexbox */
    flex-direction: column;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Makes body fill the entire viewport height */
}
.hero {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    overflow: clip;
    padding-bottom: 1.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    width: 90%;
    
}

.image {
    width: 100%;
    
}

.image__desktop {
    display: none;
}

.content__perfume {
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 500;
    font-size: 14px;
    padding-top: 1rem;
}

.content__name {
    font-family: Fraunces;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    line-height: 1;
    font-weight: 2rem;
    padding-top: 1rem;
}

.content__text {
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    padding-top: 1rem;
    line-height: 1.8;
}

.price {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0 1rem 0;
}

.discounted__price {
    color: green;
    font-size: 2rem;
    font-family: Fraunces;
    font-weight: 700;
}

.original__price {
    text-decoration: line-through;
    font-family: Montserrat;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 14px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-radius: 0.5rem;
    padding: 1em;
    font-family: Montserrat;
    font-weight: 500;
    border: none;
}

@media (min-width: 589px) {

    .image {
        display: none;
    }

    .image__desktop {
        display: block;
        width: 50%;
    }

    .hero {
        flex-direction: row;
        align-items: space-between;
        padding: 0;
        max-width: 600px;
    }

    .image__desktop {
        height: 100%;
    }

    .content {
        height: 100%;
        padding: 2rem;
        border: 1px solid black;
        justify-content: space-between;    }

    .content__perfume {
        padding-top: 0;
    }
}